.Dropdown{
  margin-right: 1rem;
  width: calc(100%/6 - 0.8rem);
}

.Dropdown label {
  font-weight: 600;
}
.dropDownContainer{
    position: relative;
    z-index: 2;
}

.Dropdown button {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 2rem;
  width: 100%;
  border: lightgrey solid 1px;
  align-items: center;
}

.ddHeader {
  border-radius: 0.5rem;
}

.ddHeaderTitle {
  margin-left: 1rem;
}

.Dropdown i {
  margin-right: 1rem;
  margin-left: 0.5rem;
}
.Dropdown .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
